@import '../../styles.scss';

.header-container{
    text-align: center;
    height: 46px;
    background-color: $primary-color;
    margin-top: 0;
    padding: 5px;
}

.header{
    margin: 5px;
    font-weight: bolder;
    color: white;
}