@import './../../../../assets/styles/variables.scss';
@import './../../../../assets/styles/styles.scss';

mat-chip{
    width: 68px;
    height: 30px;
    border-radius: 15px;
    box-shadow:$status-chip-box-shadow;
  }
  
  .count{
    font-weight: 600;
  }
    span{
    font-size: 19px !important;
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label{
        display: flex !important;
        justify-content: space-evenly;
      }