@import '../../styles.scss';

  .table-container {
    width: 100%;
    border: none;
    box-shadow: none;
    display: flex;
    overflow: auto;
    flex-direction: column;
    
    height: 75vh; /* Use 100% of the viewport height */
    .table{
      box-shadow: none;
      // border-radius: 8px;
      // width: 100%;
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 0 10px;
      // background-color: aliceblue;
    
  .table-header-row{
    border-radius: 8px !important;
    height: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    }
    .table-data:first-child {
      height: auto;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      width: -moz-fit-content;
      width: fit-content;
  }
  .table-data:last-child {
    height: auto;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: -moz-fit-content;
    width: fit-content;
}
    }
    .table-header{
      white-space: nowrap;
      padding: 8px;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: $primary-color !important;
      max-height: 10px !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .table-header, .table-data {
      word-wrap: break-word;
    }

    .table-data {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .table-header-row,
    .table-data {
      width: 150px; // Set a fixed width for each column
    }

    .table-header:first-child{
      height: auto;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: -moz-fit-content;
    width: fit-content;
    }
    .table-header:last-child{
      height: auto;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: -moz-fit-content;
    width: fit-content;
    }
    .table-row {
      white-space: nowrap;
      padding: 8px;
      height: 40px;
      border-spacing: 0 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      height: 40px;
      border-radius: 8px;
      // width: fit-content;
    }
    
  
  }
  
  mat-paginator {
    margin-top: auto; /* Push the paginator to the bottom */
  }

  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 8px 0 8px;
}

.no-data-message{
  display: flex;
  flex-direction: row;
  justify-content: center;
}