<div class="date-filter">
    <div Class="date-filter-option">
        <mat-form-field appearance="outline" class="custom-outline" id="date-filter">
            <mat-select [value]="defaultOptionValue" (selectionChange)="onSelectionChange($event)" id="select">
              <mat-select-trigger>
                {{ defaultOptionViewValue }}
              </mat-select-trigger>
              <mat-option *ngFor="let option of filterOption" [value]="option.value" class="select-custom-date-option">
                <ng-container *ngIf="option.value !== 4; else customDateOption">
                  {{ option.viewValue }}
                </ng-container>
                <ng-template #customDateOption>
                  <div class="custom-date-filter" (click)="openDateRangePicker(picker)">
                    {{ option?.viewValue }}
                    <mat-date-range-input hidden [formGroup]="range" [rangePicker]="picker" (dateChange)="onDateRangeChange(option)">
                      <input matStartDate formControlName="start">
                      <input matEndDate formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" (click)="defaultValueHandler()"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </div>
                </ng-template>
              </mat-option>
            </mat-select>
          </mat-form-field>
          
    </div>
  </div>
