<div class="filter-container">
    <div class="filter-wrapper">
      <label>Project</label>
    <mat-form-field appearance="outline">
      <mat-label>Select Project</mat-label>
      <mat-select [(ngModel)]="selectedProjects" (ngModelChange)="applyFilters()" multiple>
        <mat-option *ngFor="let project of projects" [value]="project">{{ project }}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  
    <div class="filter-wrapper">
      <label>Type</label>
    <mat-form-field appearance="outline">
      <mat-label>Select Type</mat-label>
      <mat-select [(ngModel)]="selectedTypes" (ngModelChange)="applyFilters()" multiple>
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  
    <div class="filter-wrapper">
      <label>Status</label>
    <mat-form-field appearance="outline">
      <mat-label>Select Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="applyFilters()" multiple>
        <mat-option *ngFor="let stat of status" [value]="stat">{{ stat }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  
  <div class="filter-wrapper">
    <label>Date Range</label>
  <mat-form-field appearance="outline">
    <mat-label>Select Date Range</mat-label>
    <mat-select [(ngModel)]="selectedDateRange" (ngModelChange)="applyFilters()">
      <mat-option *ngFor="let dateRange of dateRanges" [value]="dateRange.value">
        {{ dateRange.label }}
      </mat-option>
      <mat-option (click)="openCustomDateRange(picker)" (ngModelChange)="applyFilters()">
        Custom Range
        <ng-container >
  
          <mat-date-range-input hidden [formGroup]="range" [rangePicker]="picker" [max]="maxDate" (ngModelChange)="applyFilters()">
            <input matStartDate formControlName="start"(ngModelChange)="applyFilters()">
            <input matEndDate formControlName="end" (ngModelChange)="applyFilters()">
            </mat-date-range-input>
            <mat-datepicker-toggle hidden  class="picker" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </ng-container>
      </mat-option>
    </mat-select>
   
    
  </mat-form-field>
  </div>
  
    
  
    <button class="reset" mat-button (click)="resetFilters()" style="color: #225e9e;">Clear all</button>
    <div class="export-container">
      <!-- Add a mat-menu for download options -->
      <button class="export-btn" mat-icon-button [matMenuTriggerFor]="downloadMenu">
        <mat-icon>save_alt</mat-icon>
      </button>
      <mat-menu #downloadMenu="matMenu">
        <button mat-menu-item (click)="downloadCSV()">Download CSV</button>
        <button mat-menu-item (click)="downloadExcel()">Download Excel</button>
      </mat-menu>
    </div>
  </div>