<!-- src/app/filter-component/filter-component.component.html -->

<div class="filters-container">
  <div class="filters">
    <mat-label>
      Projects
    </mat-label>
    <mat-form-field appearance="outline" >
      <mat-select [(ngModel)]="selectedProjects" (ngModelChange)="applyFilters()" multiple
      placeholder="Select Projects">
        <mat-option *ngFor="let project of projects" [value]="project">{{ project }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filters">
    <mat-label>
      Category
    </mat-label>
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedTypes" (ngModelChange)="applyFilters()" multiple
      placeholder="Select Category">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filters">
    <mat-label>
      Period
    </mat-label>
  <mat-form-field appearance="outline" class="date-filter">
    <mat-select #dateSelect [(ngModel)]="selectedDateFilter" (ngModelChange)="applyFilters()"
    placeholder="Select Initiated Date">
      <mat-option *ngFor="let dateFilter of dateFilters.slice(0, 3)" [value]="dateFilter.value">
            {{ dateFilter.label }}
    </mat-option>
    <mat-option (click)="openDateRangePicker(picker);"  (ngModelChange)="applyFilters()" [value]="dateFilters[3].value">
        <p class="date-range">Custom Date Range </p>
            <mat-date-range-input class="mat-date-range-input" hidden [formGroup]="range" [rangePicker]="picker" (ngModelChange)="applyFilters()">
                <input hidden matStartDate formControlName="start" (ngModelChange)="applyFilters()">
                <input hidden matEndDate formControlName="end" (ngModelChange)="applyFilters()">
              </mat-date-range-input>
              <mat-datepicker-toggle (click)="openDateRangePicker(picker);dateSelect.close()" class="picker" matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <h1 (click)="resetFilters()" class="clear-button"> 
    Clear All
  </h1>
</div>


<div class="filter-second-row">
  <div class="chip-list">
<mat-chip-listbox>
  <mat-chip *ngFor="let statusOption of statusOptions"
                (click)="toggleStatus(statusOption.status)"
                [ngClass]="{
                  'yet-to-start-chip': isSelectedStatus(statusOption.status) && statusOption.status === 'Yet to Start',
                  'ongoing-chip': isSelectedStatus(statusOption.status) && statusOption.status === 'Ongoing',
                  'completed-chip': isSelectedStatus(statusOption.status) && statusOption.status === 'Completed'
                }"
                [matTooltip]="statusOption.status" 
                [matTooltipPosition]="'above'"
                matTooltipClass="custom-tooltip"
                >
          <mat-icon *ngIf="statusOption.status === 'Completed'">
          <span class="material-symbols-outlined">check_circle</span>
          </mat-icon>
          <mat-icon *ngIf="statusOption.status === 'Yet to Start'">
            <span class="material-symbols-outlined">clock_loader_60</span>
          </mat-icon>
          <mat-icon *ngIf="statusOption.status === 'Ongoing'">
          <span class="material-symbols-outlined">pace</span>
        </mat-icon>
         <div class="count">
          {{ statusOption.count }}
        </div>
      </mat-chip>
</mat-chip-listbox>
</div>
<div class="download-button">
    <button mat-icon-button [matMenuTriggerFor]="exportMenu" class="export-button">
        <mat-icon>save_alt</mat-icon>
    </button>
    <mat-menu #exportMenu="matMenu">
      <button mat-menu-item (click)="downloadCSV()" >Download CSV</button>
      <button mat-menu-item (click)="downloadExcel()">Download Excel</button>
    </mat-menu>
  </div>
</div>