@import './../assets/styles/variables.scss';

.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.app-header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}
.app-filter{
    width: 95%;
    margin-bottom: 10px
}
.table-container{
    margin-top: 1px;
    flex:1;
    overflow: auto;
    position:relative;
    width: 95%;
    align-self: center;
    border-radius: 8px;
    max-height: 100%;
}


.app-footer {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    background-color: $white-background; 
    padding: 15px;
    display: flex;
    min-width: 100%;
  }


  