.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.table-container{
    flex:1;
    overflow: auto;
    position:relative;
    width: 95%;
    align-self: center;
    border-radius: 8px;
    // box-shadow: none;
    // margin-bottom: none;
    // min-height: 600px;
}

app-footer {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    background-color: white; 
    padding: 15px;
  }