<div class="search-filter-container">
    <form >
      <mat-label></mat-label>
      <mat-form-field
      id="search-form"
        class="search-filter-container-field search-input"
        appearance="outline"
      >
        <div class="icon">
          <mat-icon
            class="search-icon"
            matPrefix
            >search</mat-icon
          >
          <input
            matInput
            name="searchTerm"
            class="search-filter-container-input"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearch()"
            placeholder="Search"
          />
          <mat-icon
            class="clear"
            matSuffix
            (click)="searchClearAll()"
            >clear</mat-icon
          >
        </div>
      </mat-form-field>
    </form>
  </div>
  