
$default-font: "Heebo-Regular", sans-serif;
$secondary-color: #dceeff;
$primary-color :#225E9E;
$color-white:#FFFFFF;
$color-white-2:#CCCCCC;
$scroll-bar-color:#F5F5F5;
$white-background:#FFFFFF;
$table-data-color:#2e3b52;
$color-grey: #939393;
$color-black:#000000;
$completed-chip-color:#fff7e0;
$completed-chip-color-icon:#ffbd31;
$yet-to-start-chip-color:#cce7ff;
$ongoing-chip-color:#d9fff6;
$ongoing-chip-color-icon:#17C69C;
$cancelled-chip-color:#f0a5ff;
$cancelled-chip-color-icon:#58235edc;
$failed-chip-color:#ffb5b5;
$failed-chip-color-icon:#ab0b0b;
$tool-tip-color:#d9fff6;
$color-dark-grey:#333333;
$project-chip-background-color:#eeb9b99e;
$type-chip-background-color:#facb9593;
$tags-chip-background-color:#bceda5c5;
$table-row-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
$no-data-row-box-shadow:0px 2px 0px rgba(0, 0, 0,0.1);
$status-chip-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
$table-chip-box-shadow:2px 2px 4px #00000014;
$filter-card-box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1294117647);